{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head> 
        <title> Nagios Registration </title>
        {% include "head.html" %}
    </head>
    <body>
        <h1> Nagios Stuff </h1>

        <input type="text" id="search" placeholder="Search...">
        <br>

        <div id="hosts"> Loading... </div>

        {% include "handlebars/host_list.html" %}
        <script>
            var base_url = "{{ base_url }}";
        </script>
        <script src="{% static "js/vendor/jquery-2.1.1.min.js" %}"></script>
        <script src="{% static "js/vendor/handlebars-v2.0.0.js" %}"></script>
        <script src="{% static "js/hosts.js" %}"></script>
        <script src="{% static "js/search.js" %}"></script>
    </body>
</html>
