{% load templatetag_handlebars %}
{% tplhandlebars "host_list_template" %}

<ul>
{{#each hosts}}
<li>{{name}}, address: {{ address }}
    <br>
    Services:
    <ul>
        {{#each services}}
            <li>{{ description }}
                <br>{{ base_service }}, {{ check_command }}, {{ contact_groups }}
            </li>
        {{/each}}
    </ul>
    <br >
    Host Groups:
    <ul>
        {{#each host_groups}}
            <li>{{ alias }} ({{ name }})</li>
        {{/each}}
    </ul>
</li>
{{/each}}
</ul>

{% endtplhandlebars %}
