{% load templatetag_handlebars %}
{% tplhandlebars "host_list_template" %}

<div>
    {{#each hosts}}
    <div class="host_box">
        <div class="host_info">
            <h2> {{name}} | {{ address }} </h2>
            <i id="delete_icon" class="material-icons" data-toggle="modal" data-target="#delHostModal" data-host="{{ name }}">delete</i>
        </div>
        <div class="other_info">
            {{#each host_groups}}
                <div class="host_group"> {{ alias }} ({{ name }})</div>
            {{/each}}
            {{#if contact_groups}}
                <h5 class="label"> Contact Groups: <span class="highlight"> {{ contact_groups }} </span> </h5>
            {{/if}}
            {{#if services}}
            <h5 class="label"> Services: </h5>
            <div id="accordion">
                {{#each services}}
                <div class="card">
                    <div class="card-header" id="heading{{@../index}}-{{@index}}">
                        <h5 class="mb-0">
                            <button id="service" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{{@../index}}-{{@index}}" aria-expanded="false" aria-controls="collapse{{@../index}}-{{@index}}">
                                {{ description }} 
                                <i id="delete_icon" class="material-icons" data-toggle="modal" data-target="#delServiceModal" data-service="{{ description }}" data-host="{{ ../../name }}">clear</i>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse{{@../index}}-{{@index}}" class="collapse" aria-labelledby="heading{{@../index}}-{{@index}}" data-parent="#accordion">
                        <div class="card-body">
                            <p class="code"> <code> Base Service: </code> {{ base_service }} </p>
                            <p class="code"> <code> Check Command: </code> {{ check_command }} </p>
                            {{#if contact_groups}}
                                <p> <code> Contact Groups: </code> {{ contact_groups }} </p>
                            {{/if}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/if}}

        </div>
    </div>
    {{/each}}
</div>

{% endtplhandlebars %}
